.box {
  width: 350px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px #925b5b;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #925b5b;
}

input {
  width: 90%;
  padding: 10px;
  margin: 50px 0;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: #323846;
  color: white;
  border: none;
  border-radius: 5px;
}

.link {
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}

.box {
  width: 350px;
  margin: 50px auto;
  padding: 60px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  display: flex;
  flex-direction: column;
  background-color: #92a1c2;
  color: while;
  justify-content: center;
  align-items: center;
  display: block;
  


}

input, textarea {
  width: 100%;
  margin: 5px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
}
